.git
.git/**

**/target/

docs/
sql/
scripts/nacos/
scripts/release/
scripts/tests/

codecoachai-auth/
codecoachai-file/
codecoachai-interview/
codecoachai-question/
codecoachai-resume/
codecoachai-system/
codecoachai-task/
codecoachai-user/
