MYSQL_PASSWORD=
AI_API_KEY=
AI_BASE_URL=https://api.deepseek.com
AI_MODEL=deepseek-chat
DEEPSEEK_API_KEY=
DASHSCOPE_API_KEY=
OSS_AK=
OSS_SK=
OSS_BUCKET=
OSS_STS_ROLE_ARN=
NACOS_SERVER_ADDR=127.0.0.1:8848
ROCKETMQ_NAME_SERVER=127.0.0.1:9876
